.menuDropdown {
  position: relative;
}

.card {
  width: 448px;
  height: 212px;
  position: absolute;
  top: 30px;
  right: 0;
  z-index: 99;
  background-color: #ffffff;
  border-radius: 8px;
  border-color: rgba(0, 0, 0, 0.125);
  border-width: 1px;
  -webkit-box-shadow: 0px 2px 0px 0px rgba(39, 40, 51, 0.12);
  -moz-box-shadow: 0px 2px 0px 0px rgba(39, 40, 51, 0.12);
  box-shadow: 0px 2px 0px 0px rgba(39, 40, 51, 0.12);
}

.cardTop {
  width: 100%;
  border-bottom: 2px solid #e7e7ed;
  margin-bottom: 10px;
  padding: 14px 24px;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
}

.cardTop h4 {
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
}

.cardBottom {
  width: 55%;
  float: right;
  align-self: flex-end;
  padding-top: 15px;
  padding: 6px 24px 6px;
  display: flex;
  justify-content: space-around;
}

.error {
  color: "#DA1414";
  min-height: 20px;
}

@media only screen and (max-width: 768px) {
  .card {
    left: -225px;
    width: 300px;
    height: 212px;
  }

  .navGroup:nth-child(2) {
    max-width: 300px;
  }
}
