.card {
  max-width: 321px;
  margin: 0px 15px 50px;
  padding: 0;
}

.titleRow {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  border-bottom: 2px solid #e7e7ed;
  padding: 0;
}

.cardImage {
  width: 40px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 4px 7px 6px 6px;
}

.title {
  display: flex;
  width: 180px;
  max-width: 180px;
  align-items: center;
  justify-content: flex-start;
}

.cardOptions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20%;
  margin-right: 24px;
  font-size: 16px;
}

.cardDivisor {
  height: 1px;
  width: 321px;
  background-color: #e7e7ed;
}

.infos {
  margin: 0;
  font-family: SF Pro Text;
  font-style: normal;
  line-height: 150%;
  font-size: 14px;
}
